{% extends 'site_base.html' %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }} - Apply Changeset{% endblock %}

{% block contents %}
    {% if user_has_access %}
        {% if show_form %}
            <h2>Apply Changeset</h2>
            <p>Changeset ID: <a href="{% url 'schemanizer_changeset_view' changeset.id %}">{{ changeset.id }}</a></p>
            {% crispy form form.helper %}
        {% endif %}

        {% if poll_thread_status %}
            <div>
                <div id="thread_messages_html">
                </div>
                <div id="thread_changeset_detail_applies_html">
                </div>
                <div id="ajax_loader_animation">
                    <img src="{{ STATIC_URL }}site/img/ajax-loader.gif"/>
                </div>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}

{% block scripts_extra %}
    {{ block.super }}
    {% if poll_thread_status %}
        <script type="text/javascript">
            $(function() {
                var status_url = "{% url 'schemanizer_changeset_apply_status' request_id %}";

                // check frequency in seconds
                var check_freq = 2;

                function getStatus() {
                    $.get(status_url, function(data) {
                        console.log(data);
                        if ('error' in data) {
                            alert(data['error']);
                        }
                        else {
                            if ('thread_messages_html' in data) {
                                $('#thread_messages_html').html(data['thread_messages_html']);
                            }
                            if ('thread_is_alive' in data) {
                                if (data['thread_is_alive']) {
                                    // sched check again if thread is still alive
                                    setTimeout(getStatus, check_freq * 1000);
                                }
                                else {
                                    if ('thread_changeset_detail_applies_html' in data) {
                                        $('#thread_changeset_detail_applies_html').html(data['thread_changeset_detail_applies_html']);
                                    }
                                    $('#ajax_loader_animation').hide();
                                }
                            }
                        }
                    });
                };

                console.log(status_url);
                getStatus();
            });
        </script>
    {% endif %}
{% endblock %}