{% extends 'site_base.html' %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }} - Validate Changeset Syntax{% endblock %}

{% block contents %}
    {% if user_has_access %}
        {% if select_schema_version_form %}
            {% crispy select_schema_version_form select_schema_version_form.helper %}
        {% endif %}

        <div id="id_schema_version_html">
        </div>

        {% if thread_started %}
            <div id="thread_outputs_container">
                <div id="thread_outputs">
                </div>
                <div id="thread_outputs_ajax_loader_animation">
                    <img src="{{ STATIC_URL }}site/img/ajax-loader.gif"/>
                </div>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}

{% block scripts_extra %}
    {{ block.super }}
    <script type="text/javascript">
        $(function() {
            var ajax_get_schema_version_url = "{% url 'schemanizer_ajax_get_schema_version' %}";

            function viewSchemaVersion() {
                var schema_version_id = $('#id_schema_version').val();
                $.get(
                    ajax_get_schema_version_url + "?schema_version_id=" + schema_version_id,
                    function(data) {
                        $('#id_schema_version_html').html(data['schema_version_html']);
                    });
            }

            $('#id_schema_version').change(function() {
                viewSchemaVersion();
            })

            viewSchemaVersion();
        });
    </script>
    {% if thread_started %}
        <script type="text/javascript">
            $(function() {
                var status_url = "{% url 'schemanizer_changeset_review_status' request_id %}";

                // check frequency in seconds
                var check_freq = 2;

                function getStatus() {
                    $.get(status_url, function(data) {
                        console.log(data);
                        if ('error' in data) {
                            alert(data['error']);
                        }
                        else {
                            if ('thread_messages_html' in data) {
                                $('#thread_outputs').html(data['thread_messages_html']);
                            }
                            if ('thread_is_alive' in data) {
                                if (data['thread_is_alive']) {
                                    // sched check again if thread is still alive
                                    setTimeout(getStatus, check_freq * 1000);
                                }
                                else {
                                    $('#thread_outputs_ajax_loader_animation').hide();
                                    if ('thread_review_results_url' in data) {
                                        window.location = data['thread_review_results_url']
                                    }
                                }
                            }
                        }
                    });
                };

                getStatus();
            });
        </script>
    {% endif %}
{% endblock %}