{% extends 'site_base.html' %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }} - Changeset{% endblock %}

{% block contents %}
    {% if user_has_access %}
        <form method="post" action="">
            <p><strong>Changeset</strong></p>
            {% crispy changeset_form changeset_form.helper %}

            <p><strong>Changeset Details</strong></p>

            <div class="changeset_details">
                {{ changeset_detail_formset.management_form }}
                <table class="table table-striped table-condensed table-hover">
                    <tbody id="changeset_detail_formset_container">
                        {% for detail_form in changeset_detail_formset %}
                            <tr>
                                <td>{% crispy detail_form detail_form.helper %}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="form-actions">
                <input class="btn btn-primary" type="submit" value="Save"/>
                <input id="add_blank_changeset_detail_form_button" class="btn" type="button" value="Add blank changeset detail form"/>
            </div>
        </form>

        <div id="changeset_detail_empty_form_container" style="display:none;">
            <table>
                <tbody>
                    <tr>
                        <td>{% crispy changeset_detail_formset.empty_form changeset_detail_formset.empty_form.helper %}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    {% endif %}
{% endblock %}

{% block scripts_extra %}
    {{ block.super }}
    <script type="text/javascript">
        $(function() {
            $('#add_blank_changeset_detail_form_button').click(function(event) {
                event.preventDefault();
                var templateHtml = $('#changeset_detail_empty_form_container tbody').html().trim();
                var totalForms = Number($('#id_changeset_details-TOTAL_FORMS').val());
                var html = templateHtml.replace(/__prefix__/g, totalForms.toString());
                $('#changeset_detail_formset_container').append($(html));
                $('#id_changeset_details-TOTAL_FORMS').val(totalForms + 1);
            });
        });
    </script>
{% endblock %}