{% extends 'site_base.html' %}

{% block title %}{{ block.super }} - Changeset Reviews{% endblock %}

{% block contents %}
    <h2>On-going Changeset Review Jobs</h2>

    <div id="id_task_state_list">
    </div>
{% endblock %}

{% block scripts_extra %}
    {{ block.super }}
    <script type="text/javascript">
        $(function() {
            var ajax_changeset_reviews_url = "{% url 'schemanizer_ajax_changeset_reviews' %}";

            // check frequency in seconds
            var check_freq = 2;

            function getTaskStateListHtml() {
                $.get(ajax_changeset_reviews_url, function(data) {
                    if ('error' in data) {
                        alert(data['error']);
                    }
                    else {
                        if ('html' in data) {
                            $('#id_task_state_list').html(data['html']);
                        }
                        // sched check again
                        setTimeout(getTaskStateListHtml, check_freq * 1000);
                    }
                });
            };

            getTaskStateListHtml();
        });
    </script>
{% endblock %}