{% extends 'site_base.html' %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }} - Apply Changesets{% endblock %}

{% block contents %}
    {% if user_has_access %}
        {% if schema_version and changeset %}
            <p class="text-info">Please confirm changeset apply operation by clicking Continue button at the bottom of this page.</p>

            <p><strong>Schema</strong></p>
            <table class="table table-striped table-condensed table-bordered table-hover">
                <tbody>
                    <tr>
                        <th>ID</th>
                        <td>{{ schema_version.id }}</td>
                    </tr>
                    <tr>
                        <th>Database schema</th>
                        <td>{{ schema_version.database_schema.name }}</td>
                    </tr>
                    <tr>
                        <th>DDL</th>
                        <td><pre>{{ schema_version.ddl }}</pre></td>
                    </tr>
                    <tr>
                        <th>Created at</th>
                        <td>{{ schema_version.created_at }}</td>
                    </tr>
                    <tr>
                        <th>Updated at</th>
                        <td>{{ schema_version.updated_at }}</td>
                    </tr>
                </tbody>
            </table>

            <p><strong>Changeset</strong></p>
            <table class="table table-striped table-condensed table-bordered table-hover">
                <tbody>
                    <tr>
                        <th>ID</th>
                        <td>{{ changeset.id }}</td>
                    </tr>
                    <tr>
                        <th>Type</th>
                        <td>{{ changeset.type }}</td>
                    </tr>
                    <tr>
                        <th>Classification</th>
                        <td>{{ changeset.classification }}</td>
                    </tr>
                    <tr>
                        <th>Version control URL</th>
                        <td>{{ changeset.version_control_url }}</td>
                    </tr>
                </tbody>
            </table>

            <p><strong>Changeset Details</strong></p>
            <table class="table table-striped table-condensed table-bordered table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Type</th>
                        <th>Description</th>
                        <th>Apply SQL</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cd in changeset.changeset_details.all %}
                        <tr>
                            <td>{{ cd.id }}</td>
                            <td>{{ cd.type }}</td>
                            <td>{{ cd.description }}</td>
                            <td><pre>{{ cd.apply_sql }}</pre></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}

        {% if form %}
            {% crispy form form.helper %}
        {% endif %}

    {% endif %}
{% endblock %}