{% extends 'site_base.html' %}

{% block title %}{{ block.super }} - Confirm Soft Delete Changeset{% endblock %}

{% block contents %}
    {% if user_has_access %}
        <div class="alert">
            <h4>Warning!</h4>
            <p>
                The following changeset will be deleted:
            </p>
            <p>
                {{ changeset }}
            </p>
            <form method="post">
                {% csrf_token %}
                <input type="submit" class="btn btn-warning" name="confirm_soft_delete" value="Confirm Delete"/>
            </form>
        </div>
    {% endif %}
{% endblock %}