{% extends 'site_base.html' %}

{% block title %}{{ block.super }} - Database Schemas{% endblock %}

{% block contents %}
    {% if user_has_access %}
        <h2>Database Schemas</h2>
        <p>
            <a href="{% url 'schemanizer_server_list' %}">Click here to add new entry, you will be taken to server list page, select a server and choose the 'Create schema version' link.</a>
        </p>
        <table class="table table-striped table-condensed table-bordered table-hover">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for r in database_schemas %}
                <tr>
                    <td>{{ r.id }}</td>
                    <td>{{ r.name }}</td>
                    <td><a href="{% url 'schemanizer_schema_version_list' %}?database_schema={{ r.id }}">View schema versions</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}