{% extends 'site_base.html' %}
{% load crispy_forms_tags %}
{% block title %}{{ block.super }} - Delete Environment{% endblock %}

{% block contents %}
    {% if user_has_access %}
        <div class="alert" xmlns="http://www.w3.org/1999/html">
            <h3>Warning!</h3>
            <p>The following environment will be deleted:</p>
            <p>{{ r }}</p>
            <p>Other related records will also be deleted.</p>
        </div>

        <form method="post" action="">
            {% csrf_token %}
            <div class="form-actions">
                <input type="submit" name="submit" value="Submit"/>
            </div>
        </form>

    {% endif %}
{% endblock %}