{% extends 'site_base.html' %}

{% block title %}{{ block.super }} - Servers{% endblock %}

{% block contents %}
    {% if user_has_access %}
        <h2>Servers</h2>
        <p>
            <a href="{% url 'schemanizer_server_create' %}">Click here to create new entry</a>
        </p>
        {% if servers %}
            <table class="table table-striped table-condensed table-bordered table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Cached size</th>
                        <th>Environment</th>
                        <th>Created at</th>
                        <th>Updated at</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for server in servers %}
                        <tr>
                            <td>{{ server.id }}</td>
                            <td>{{ server.name }}</td>
                            <td>{{ server.cached_size|default_if_none:'' }}</td>
                            <td>{{ server.environment|default_if_none:'' }}</td>
                            <td>{{ server.created_at }}</td>
                            <td>{{ server.updated_at }}</td>
                            <td>
                                <a class="btn btn-small" href="{% url 'schemanizer_server_update' server.id %}">Update</a>
                                <a class="btn btn-small" href="{% url 'schemanizer_server_delete' server.id %}">Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="alert alert-info">
                <p>No entries found.</p>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}