MySQL-python==1.2.4
PIL==1.1.7
Django==1.5.1

#
# used by Django for timezone support
#
pytz==2013b

South==0.7.6
PyYAML==3.10
django-crispy-forms==1.2.8
boto==2.9.2
django-debug-toolbar==0.9.4
nose==1.3.0
django-nose==1.1
coverage==3.6
sqlparse==0.1.7
mmh3==2.2
requests==1.2.0
python-nmap==0.2.7
django-tastypie==0.9.15
django-celery==3.0.17
texttable==0.8.1
-e hg+https://bitbucket.org/catherinedevlin/cmd2@a1818298610cb601c6ed5691531cd224ed59e6b5#egg=cmd2-dev

## The following requirements were added by pip --freeze:
amqp==1.0.11
anyjson==0.3.3
argparse==1.2.1
billiard==2.7.3.28
celery==3.0.19
celerymon==1.0.3
kombu==2.5.10
logilab-astng==0.24.3
logilab-common==0.59.1
mimeparse==0.1.3
pylint==0.28.0
pyparsing==1.5.7
python-dateutil==2.1
six==1.3.0
tornado==3.0.2
wsgiref==0.1.2
