{% extends 'site_base.html' %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }} - Apply Changeset{% endblock %}

{% block contents %}
    {% if user_has_access %}
        <h2>Apply Changeset</h2>
        <p>Changeset ID: <a href="{% url 'changesets_changeset_view' changeset.id %}">{{ changeset.id }}</a></p>

        <form>
            <div class="control-group" id="div_id_environment">
                <label class="control-label" for="id_environment">Environment</label>
                <div class="controls">
                    <select id="id_environment" class="select" name="environment">
                        {% for environment in environments %}
                            <option value="{{ environment.id }}">{{ environment.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </form>

        <div id="id_environment_servers"></div>
    {% endif %}
{% endblock %}

{% block scripts_extra %}
    {{ block.super }}
    <script type="text/javascript">
        $(function() {
            var select_environment_servers_url = "{% url 'changesetapplies_select_environment_servers' %}";
            var changeset_id = "{{ changeset.id }}";

            function showEnvironmentServers() {
                var environment_id = $('#id_environment').val();
                $.get(
                    select_environment_servers_url + "?environment_id=" +
                        environment_id + "&changeset_id=" + changeset_id,
                    function(data) {
                        $('#id_environment_servers').html(data['html']);
                    });
            }

            $('#id_environment').change(function() {
                showEnvironmentServers();
            });

            showEnvironmentServers();
        });
    </script>
{% endblock %}