{% extends 'site_base.html' %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }} - Schema Version{% endblock %}

{% block contents %}
    {% if view.allow_user_access %}
        <h2>Schema Version</h2>
        <table class="table table-striped table-condensed table-bordered table-hover">
            <tbody>
                <tr>
                    <th>ID:</th>
                    <td>{{ object.pk }}</td>
                </tr>
                <tr>
                    <th>Database Schema:</th>
                    <td>{{ object.database_schema }}</td>
                </tr>
                <tr>
                    <th>
                        DDL:<br />
                        <a href="{% url 'schemaversions_schema_version_download_ddl' object.pk %}">Download DDL</a>
                    </th>
                    <td><pre>{{ object.ddl}}</pre></td>
                </tr>
                <tr>
                    <th>Pulled From:</th>
                    <td>{{ object.pulled_from|default_if_none:'' }}</td>
                </tr>
                <tr>
                    <th>Pull Datetime:</th>
                    <td>{{ object.pull_datetime }}</td>
                </tr>
            </tbody>
        </table>

        {% crispy actions_form actions_form.helper %}

    {% endif %}
{% endblock %}