<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Schemanizer{% endblock %}</title>

    <!-- Bootstrap -->
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Site -->
    <link href="{{ STATIC_URL }}site/css/site.css" rel="stylesheet" />

    {% block head_extra %}{% endblock %}
</head>
<body>
    {% block layout %}
        <div class="container-fluid">
            {% block navbar %}
                <div class="navbar navbar-fixed-top navbar-inverse">
                    <div class="navbar-inner">
                        <a class="brand" href="{% url 'home' %}">{% block brand %}Schemanizer{% endblock %}</a>
                        {% if request.user.is_authenticated %}
                            <ul class="nav">
                                {% block nav_links %}
                                    <li class="{% block class_home %}{% endblock %}"><a href="{% url 'home' %}">Home</a></li>
                                    {% if request.user.schemanizer_user.role.name == 'admin' %}
                                        <li class="{% block class_users %}{% endblock %}"><a href="{% url 'schemanizer_users' %}">Users</a></li>
                                    {% endif %}
                                    {% comment %}
                                    <li class="{% block class_changesets %}{% endblock %}"><a href="{% url 'schemanizer_changeset_list' %}">Changesets</a></li>
                                    {% endcomment %}
                                    {% comment %}
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle=""dropdown">
                                            Data
                                            <b class="caret"></b>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a href="{% url 'schemanizer_changeset_list' %}">Changesets</a></li>
                                            <li><a href="{% url 'schemanizer_server_list' %}">Servers</a></li>
                                            <li><a href="{% url 'schemanizer_database_schema_list' %}">Database Schemas</a></li>
                                            <li><a href="{% url 'schemanizer_schema_version_list' %}">Schema Versions</a></li>
                                            <li><a href="{% url 'schemanizer_environment_list' %}">Environments</a></li>
                                        </ul>
                                    </li>
                                    {% endcomment %}
                                    <li><a href="{% url 'schemanizer_changeset_list' %}">Changesets</a></li>
                                    <li><a href="{% url 'schemanizer_server_list' %}">Servers</a></li>
                                    <li><a href="{% url 'schemanizer_database_schema_list' %}">Database Schemas</a></li>
                                    <li><a href="{% url 'schemanizer_schema_version_list' %}">Schema Versions</a></li>
                                    <li><a href="{% url 'schemanizer_environment_list' %}">Environments</a></li>
                                    <li><a href="{% url 'schemanizer_changeset_reviews' %}">Changeset Reviews</a></li>
                                {% endblock %}
                            </ul>
                            <ul class="nav pull-right">
                                <li><p class="navbar-text">Welcome, {{ request.user.get_username }}!</p></li>
                                <li><a href="{% url 'logout' %}" >Logout</a></li>
                            </ul>
                        {% endif %}
                    </div>
                </div>
            {% endblock %}
            {% if messages %}
                {% for message in messages %}
                    <div{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>
                        <a class="close" data-dismiss="alert" href="#">&times;</a>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            {% block contents %}
                {% comment %}
                <div class="row-fluid">
                    <div class="span12">
                    </div>
                </div>
                {% endcomment %}
            {% endblock %}
        </div>
    {% endblock %}
    <script type="text/javascript">
        new_console = {
            log: function() {},
            debug: function() {},
            info: function() {},
            warn: function() {},
            error: function() {}
        }
        if (typeof console == 'undefined') {
            console = new_console;
        }
    </script>
    <script src="{{ STATIC_URL }}jquery/jquery-1.9.1.min.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $('.dropdown-toggle').dropdown();
    </script>
    {% block scripts_extra %}{% endblock %}
</body>
</html>