{% extends 'site_base.html' %}

{% block title %}{{ block.super }} - Confirm Soft Delete Changeset{% endblock %}

{% block contents %}
    {% if user_has_access %}
        <div class="alert">
            <h4>Warning!</h4>
            <p>
                The following changeset will be deleted:
            </p>
            <p>
                {{ changeset }}
            </p>
        </div>

        <form method="post">
            {% csrf_token %}
            <div class="form-actions">
                <input type="submit" class="btn" name="confirm_soft_delete" value="Confirm Delete"/>
            </div>
        </form>
    {% endif %}
{% endblock %}